.choose-title {
  font-size: 35px;
  line-height: 55px;
  color: #bd985c;
  font-weight: bold;
  font-family: "Muller Bold", serif;
  text-align: center;
}

.pizzas-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
