.order-container {
  display: flex;
  align-items: center;

  .text {
    display: flex;
    flex-direction: column;
    max-width: 384px;
    margin-right: 129px;

    .title {
      display: flex;
      flex-direction: column;

      h1 {
        font-size: 35px;
        line-height: 45px;
        margin: 0;
        font-weight: 800;
        font-family: "Muller Extra Bold", serif;
      }

      &__top {
        color: #ffaf18;
      }

      &__bottom {
        color: #b99150;
      }
    }

    .info-container {
      margin-top: 70px;
      font-size: 16px;
      line-height: 24px;
      color: #b99150;
      font-family: "Muller Regular", serif;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .icon {
    margin-left: 78px;
  }
}
