.button {
  cursor: pointer;
  margin-top: 60px;
  width: 224px;
  height: 60px;
  background-color: #ffaf18;
  border: none;
  font-size: 16px;
  line-height: 55px;
  color: #382400;
  font-weight: bold;
  font-family: "Muller Bold", serif;

  &:hover {
    background-color: #e0960c;
  }
}
